SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8083
SERVER_FORWARD_HEADERS_STRATEGY=native
SESSION_COOKIE_SECURE=false
NGINX_HTTP_PORT=80

DB_HOST=localhost
DB_PORT=1433
DB_NAME=sitio_db
DB_USERNAME=sitiopro_app
DB_PASSWORD=Change_me_with_a_strong_app_password
FLYWAY_USERNAME=sitiopro_migration
FLYWAY_PASSWORD=Change_me_with_a_strong_migration_password
MSSQL_SA_PASSWORD=Change_me_with_a_strong_sa_password

DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true

MSSQL_PID=Developer
JPA_DDL_AUTO=validate
JPA_SHOW_SQL=true
FLYWAY_ENABLED=true
FLYWAY_BASELINE_ON_MIGRATE=true

SITIOPRO_INITIAL_ADMIN_ENABLED=false
SITIOPRO_INITIAL_ADMIN_LOGIN=
SITIOPRO_INITIAL_ADMIN_PASSWORD=
SITIOPRO_INITIAL_ADMIN_NAME=
