SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8083

DB_HOST=localhost
DB_PORT=1433
DB_NAME=sitio_db
DB_USERNAME=sa
DB_PASSWORD=Change_this_Strong_Password_123!

DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true

MSSQL_PID=Developer
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true
